<div class="text-center">
    <h1>List of blogs</h1>
    <div *ngIf="blogs.length==0">
        <h1>NO BLOGS!!!</h1>
    </div>
    <div class="row" *ngFor='let blog of blogs'>
        <div class="col-3 card" style="width: 18rem;" id='list'>
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.description}}</p>
                <p class="card-text text-muted">{{blog.category}}</p>
            </div>
        </div>
    </div>
</div>